@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
<h1>HỆ THỐNG BÁN HANG</h1>
    </section>

    <div class="row">
        <section>
           
        </section>
        
    </div>
</main>